{% if include.type == "quote" %}
<div class="card card--quote">
  <div class="card-text">{{ include.text }}</div>
  <div class="card-author">— {{ include.author }}</div>
</div>
{% else %}
<div class="card">
  {% if include.url %}
  <div class="card-title">
    <a href="{{ include.url }}" target="_blank">{{ include.title }}</a>
  </div>
  {% elsif include.link %}
  <div class="card-title">
    <a href="{{ include.link }}">{{ include.title }}</a>
  </div>
  {% else %}
  <div class="card-title">{{ include.title }}</div>
  {% endif %}
  {% if include.description %}
  <p class="card-description">{{ include.description }}</p>
  {% endif %}
  {% if include.subtitle %}
  <p class="card-subtitle">{{ include.subtitle }}</p>
  {% endif %}
</div>
{% endif %}
